In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
url = "https://www.bbc.com/sport/football/premier-league/table"
page = requests.get(url)
soup = BeautifulSoup(page.content, "html.parser")

In [ ]:
epl_table = soup.find("table", class_ = "ssrcss-5o3au1-Table e3bga5w2")

In [15]:
headers = []


for i in epl_table.find_all("th"):
    header = i.text
    headers.append(header)
    
epl_df = pd.DataFrame(columns = headers)
epl_df

for j in epl_table.find_all("tr")[1:]:
    record = j.find_all("td")
    record_row = [x.text for x in record]
    length = len(epl_df)
    epl_df.loc[length] = record_row
    
epl_df.drop(["Form, Last 6 games, Oldest first"], axis = 1, inplace =True)
epl_df

,Team,Played,Won,Drawn,Lost,Goals For,Goals Against,Goal Difference,Points
0,1Liverpool,34,25,7,2,80,32,48,82
1,2Arsenal,34,18,13,3,63,29,34,67
2,3Manchester City,35,19,7,9,67,43,24,64
3,4Newcastle United,34,19,5,10,65,44,21,62
4,5Chelsea,34,17,9,8,59,40,19,60
5,6Nottingham Forest,34,18,6,10,53,41,12,60
6,7Aston Villa,34,16,9,9,54,49,5,57
7,8Fulham,34,14,9,11,50,46,4,51
8,9Brighton & Hove Albion,34,13,12,9,56,55,1,51
9,10AFC Bournemouth,34,13,11,10,53,41,12,50
10,11Brentford,34,14,7,13,58,50,8,49
11,12Crystal Palace,34,11,12,11,43,47,-4,45
12,13Wolverhampton Wanderers,35,12,5,18,51,62,-11,41
13,14Manchester United,34,10,9,15,39,47,-8,39
14,15Everton,34,8,14,12,34,41,-7,38
15,16Tottenham Hotspur,34,11,4,19,62,56,6,37
16,17West Ham United,34,9,9,16,39,58,-19,36
17,18Ipswich Town,34,4,9,21,33,74,-41,21
18,19Leicester City,34,4,6,24,27,76,-49,18
19,20Southampton,34,2,5,27,25,80,-55,11

In [18]:
epl_df["Position"] = epl_df["Team"].str.extract(r"^(\d+)")
epl_df["Team"] = epl_df["Team"].str.extract(r"^\d+(.*)")
epl_df

,Team,Played,Won,Drawn,Lost,Goals For,Goals Against,Goal Difference,Points,Position
0,Liverpool,34,25,7,2,80,32,48,82,1
1,Arsenal,34,18,13,3,63,29,34,67,2
2,Manchester City,35,19,7,9,67,43,24,64,3
3,Newcastle United,34,19,5,10,65,44,21,62,4
4,Chelsea,34,17,9,8,59,40,19,60,5
5,Nottingham Forest,34,18,6,10,53,41,12,60,6
6,Aston Villa,34,16,9,9,54,49,5,57,7
7,Fulham,34,14,9,11,50,46,4,51,8
8,Brighton & Hove Albion,34,13,12,9,56,55,1,51,9
9,AFC Bournemouth,34,13,11,10,53,41,12,50,10
10,Brentford,34,14,7,13,58,50,8,49,11
11,Crystal Palace,34,11,12,11,43,47,-4,45,12
12,Wolverhampton Wanderers,35,12,5,18,51,62,-11,41,13
13,Manchester United,34,10,9,15,39,47,-8,39,14
14,Everton,34,8,14,12,34,41,-7,38,15
15,Tottenham Hotspur,34,11,4,19,62,56,6,37,16
16,West Ham United,34,9,9,16,39,58,-19,36,17
17,Ipswich Town,34,4,9,21,33,74,-41,21,18
18,Leicester City,34,4,6,24,27,76,-49,18,19
19,Southampton,34,2,5,27,25,80,-55,11,20

In [19]:
cols = ['Position'] + [col for col in epl_df.columns if col != 'Position']
epl_df = epl_df[cols]
epl_df

,Position,Team,Played,Won,Drawn,Lost,Goals For,Goals Against,Goal Difference,Points
0,1,Liverpool,34,25,7,2,80,32,48,82
1,2,Arsenal,34,18,13,3,63,29,34,67
2,3,Manchester City,35,19,7,9,67,43,24,64
3,4,Newcastle United,34,19,5,10,65,44,21,62
4,5,Chelsea,34,17,9,8,59,40,19,60
5,6,Nottingham Forest,34,18,6,10,53,41,12,60
6,7,Aston Villa,34,16,9,9,54,49,5,57
7,8,Fulham,34,14,9,11,50,46,4,51
8,9,Brighton & Hove Albion,34,13,12,9,56,55,1,51
9,10,AFC Bournemouth,34,13,11,10,53,41,12,50
10,11,Brentford,34,14,7,13,58,50,8,49
11,12,Crystal Palace,34,11,12,11,43,47,-4,45
12,13,Wolverhampton Wanderers,35,12,5,18,51,62,-11,41
13,14,Manchester United,34,10,9,15,39,47,-8,39
14,15,Everton,34,8,14,12,34,41,-7,38
15,16,Tottenham Hotspur,34,11,4,19,62,56,6,37
16,17,West Ham United,34,9,9,16,39,58,-19,36
17,18,Ipswich Town,34,4,9,21,33,74,-41,21
18,19,Leicester City,34,4,6,24,27,76,-49,18
19,20,Southampton,34,2,5,27,25,80,-55,11